$primary-color: rgb(223, 27, 11);
$font-family-header: 'Fledgling';
$font-size-base: 12px;

$md: 768px;
$lg: 900px;
@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
