$primary-color: rgb(187, 40, 48);
$font-family-header: 'Fledgling';
$font-size-base: 12px;

$md: 768px;
$lg: 900px;
@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
@font-face {
  font-family: $font-family-header;
  src: url('/fonts/fledgling-sb.ttf') format('truetype');
}
